*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
app/build
app/release
app/debug
app/.cxx
libB/build
libB/.cxx
dynamic1/build
/captures
.externalNativeBuild
.cxx
local.properties
bundletool-all-1.17.0.jar